<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>2XC_WebHome</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>UXPrevLoadFilter</filter-name>
    <filter-class>com.finger.fwf.uxui.filter.UXPrevLoadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UXPrevLoadFilter</filter-name>
    <servlet-name>DummyServlet</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>UXAccessFilter</filter-name>
    <filter-class>com.finger.fwf.uxui.filter.UXAccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UXAccessFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UXAuthFilter</filter-name>
    <filter-class>com.finger.fwf.uxui.filter.UXAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UXAuthFilter</filter-name>
    <servlet-name>UXActionController</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>UXMarketController</servlet-name>
    <servlet-class>com.finger.fwf.uxui.controller.UXMarketController</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UXMarketController</servlet-name>
    <url-pattern>/uxMarket/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UXLoginController</servlet-name>
    <servlet-class>com.finger.fwf.uxui.controller.UXLoginController</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UXLoginController</servlet-name>
    <url-pattern>/uxLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UXLogoutController</servlet-name>
    <servlet-class>com.finger.fwf.uxui.controller.UXLogoutController</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UXLogoutController</servlet-name>
    <url-pattern>/uxLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UXProvideController</servlet-name>
    <servlet-class>com.finger.fwf.uxui.controller.UXProvideController</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UXProvideController</servlet-name>
    <url-pattern>/uxProvide/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UXActionController</servlet-name>
    <servlet-class>com.finger.fwf.uxui.controller.UXActionController</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UXActionController</servlet-name>
    <url-pattern>/uxAction/*</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/page/process/page404.jsp</location>
  </error-page>
</web-app>